/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.5.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.5.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.5.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.5.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.5.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }
* {
  box-sizing: border-box; }

html, body {
  width: 100%;
  font-family: sans;
  line-height: 1.4em; }

#app {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px; }

.ta-slider {
  width: 100%; }
  .ta-slider .mask {
    background-color: #eee;
    height: 320px;
    overflow: hidden;
    position: relative; }
    .ta-slider .mask .slider {
      display: flex;
      padding: 20px 40px;
      height: 100%; }
      .ta-slider .mask .slider .slide {
        background-color: #fff;
        flex: 0 1 auto;
        width: calc(100%/3);
        margin-right: 10px; }
        .ta-slider .mask .slider .slide:last-child {
          margin-right: 0px; }
        .ta-slider .mask .slider .slide .tweet {
          padding: 10px; }
  .ta-slider .arrow-right, .ta-slider .arrow-left {
    font-family: FontAwesome;
    position: absolute;
    width: 25px;
    cursor: pointer;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: black;
    transition: color 0.3s ease; }
    .ta-slider .arrow-right:hover, .ta-slider .arrow-left:hover {
      color: red;
      transition: color 0.3s ease; }
  .ta-slider .arrow-right {
    left: auto; }
  .ta-slider .arrow-left {
    right: auto; }

@media (max-width: 800px) {
  .ta-slider .mask .slider {
    flex-direction: column;
    justify-content: space-around; }
    .ta-slider .mask .slider .slide {
      width: 100%;
      margin-right: 0px;
      margin-bottom: 10px; }
      .ta-slider .mask .slider .slide:last-child {
        margin-bottom: 0px; } }

/*# sourceMappingURL=app.css.map */
