@import 'reset';
@import 'fonts';

*{
  box-sizing: border-box;
}

html, body{
  width: 100%;
  font-family: sans;
  line-height: 1.4em;
}

#app{
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.ta-slider{
  width: 100%;
  animation: fadein 1s ease;

  .mask{
    background-color: #eee;
    overflow: hidden;
    position: relative;
    //min-height: 320px;

    .slider{
      display: flex;
      //justify-content: space-around;
      padding: 20px 40px;
      width: 100%;
      height: auto;

      .slide{
        background-color: #fff;
        flex: 0 0 calc(100%/3);
        margin-right: 10px;
        height: auto;

        &:last-child{
          margin-right: 0px;
        }

        .flexbox{
          padding: 10px;
          display: flex;
          //align-items: flex-start;
          //justify-content: space-around;
          flex-direction: column;

          p{
            //padding-bottom: 0px;
            //flex: 0 1 auto;
          }

          img{
            //flex: 0 1 auto;
            max-height: 150px;
          }

          a{
            text-decoration: none;
            color: black;
            transition: color 0.1s ease;

            &:hover{
              color: red;
              transition: color 0.1s ease;
            }

            .user{
              display: flex;
              align-items: flex-start;
              justify-content: flex-start;
              padding-bottom: 10px;

              span{
                padding-left: 10px;
                align-self: center;
              }
            }
          }
          .tweet{
            a{
              text-decoration: underline;
              color: grey;
              transition: color 0.1s ease;

              &:hover{
                transition: color 0.1s ease;
                color: red;
              }
            }
            .retweet{
              font-family: FontAwesome;
              text-decoration: none;
              font-size: 1.5em;
            }
          }
          .media{
            width: 100%;
            text-align: center;
          }
        }
      }
    }
  }

  %arrow{
    font-family: FontAwesome;
    position: absolute;
    z-index: 32;
    width: 25px;
    cursor: pointer;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-around;

    color: black;
    transition: color 0.3s ease;
    &:hover{
      color: red;
      transition: color 0.3s ease;
    }
  }

  .arrow-right{
    @extend %arrow;
    left: auto;
  }
  .arrow-left{
    @extend %arrow;
    right: auto;
  }
}

@media (max-width: 800px) {
  .ta-slider{
    .mask{
      .slider{
        min-height: auto;
        flex-direction: column;
        justify-content: space-around;
        .slide{
          width: 100%;
          margin-right: 0px;
          margin-bottom: 10px;

          &:last-child{
            margin-bottom: 0px;
          }
        }
      }
    }
  }
}


// animations

@keyframes fadein {
  0% {opacity: 0}
  100% {opacity: 1}
}

.slider-appear {
  .slide{
    background-color: yellow;
  }
}

.slider-appear.slider-appear-active {
  .slide{
    background-color: white;
  }
  transition: background-color 1s ease-in;
}

.slider-enter {
  position: static;
  opacity: 0;
}

.slider-enter.slider-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}


.slider-leave {
  position: absolute;
  opacity: 1;
  top: 0px;
}

.slider-leave.slider-leave-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
