@import 'reset';
@import 'fonts';

*{
  box-sizing: border-box;
}

html, body{
  width: 100%;
  font-family: sans;
}

#app{
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.ta-slider{
  width: 100%;

  .mask{
    background-color: #eee;
    height: 320px;
    overflow: hidden;
    position: relative;

    .slider{
      display: flex;
      //justify-content: space-around;
      padding: 20px 40px;
      height: 100%;

      .slide{
        background-color: #fff;
        flex: 0 1 auto;
        width: calc(100%/3);
        margin-right: 10px;

        &:last-child{
          margin-right: 0px;
        }

        .tweet{
          padding: 10px;
        }
      }
    }
  }

  %arrow{
    font-family: FontAwesome;
    position: absolute;
    width: 25px;
    cursor: pointer;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    //background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: space-around;

    color: black;
    transition: color 0.3s ease;
    &:hover{
      color: red;
      transition: color 0.3s ease;
    }
  }

  .arrow-right{
    @extend %arrow;
    left: auto;
  }
  .arrow-left{
    @extend %arrow;
    right: auto;
  }
}

@media (max-width: 800px) {
  .ta-slider{
    .mask{
      .slider{
        flex-direction: column;
        justify-content: space-around;
        .slide{
          width: 100%;
          margin-right: 0px;
          margin-bottom: 10px;

          &:last-child{
            margin-bottom: 0px;
          }
        }
      }
    }
  }
}
